[run]

# A list of file name patterns, the files to leave out of measurement or reporting
omit =
  **/tests/**
  **/__init__.py
  src/web_framework/test/**

# Whether to measure branch coverage in addition to statement coverage.
branch = True


[report]

exclude_lines =
    # Don't complain about missing debug-only code:
    def __repr__

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Don't complain if type checking code isn't run:
    if TYPE_CHECKING:

    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod


[html]

# Where to write the HTML report files.
directory = .coverage_html_report

# The title to use for the report.
title = Web framework tests coverage report
